@import url("https://fonts.googleapis.com/css?family=Exo:100,400,500&display=swap");
a {
  color: #3273DC;
  transition: color 200ms;
}
a:hover {
  color: #194690;
}

.has-background-black {
  background-color: #0a0a0a;
}

.has-background-white {
  background-color: white;
}

.has-background-light {
  background-color: whitesmoke;
}

.has-background-dark {
  background-color: #282828;
}

.has-background-primary {
  background-color: #ff6d6d;
}

.has-background-link {
  background-color: #3273DC;
}

.has-text-black {
  color: #0a0a0a;
}

.has-text-white {
  color: white;
}

.has-text-light {
  color: whitesmoke;
}

.has-text-dark {
  color: #282828;
}

.has-text-primary {
  color: #ff6d6d;
}

.has-text-link {
  color: #3273DC;
}

html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.main-title {
  color: #282828;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 0;
}
.main-title .dots {
  color: #ff6d6d;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.custom-text {
  color: #282828;
  font-weight: 500;
  line-height: 1.6em;
  opacity: 0.66;
  letter-spacing: 0.04em;
}

.subheader {
  color: #ff6d6d;
  font-size: 1em;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin: 0;
}

.clickable:hover {
  filter: brightness(40%);
  cursor: pointer;
}

.button-primary {
  background-color: #ff6d6d;
  border: none;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 1px rgba(9, 10, 11, 0.25);
}
.button-primary:hover {
  background-color: #ec1b0d;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
}

.mountains-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Exo", serif;
  background-image: url(images/mountains.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mountains-header .main-title {
  font-weight: 300;
  font-size: 4em;
  max-width: 800px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .mountains-header .main-title {
    font-size: 3em;
  }
}
.mountains-header .button-primary {
  margin-top: 45px;
  width: 190px;
  min-height: 50px;
}
.mountains-header #play-button {
  display: block;
  width: 59px;
  height: 59px;
  background: grey;
  border-radius: 50%;
  margin-top: 40px;
}
.mountains-header .circle_inner {
  position: relative;
  height: 100%;
}
.mountains-header .circle_inner:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 14px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -5px;
}
.mountains-header p {
  color: #282828;
}
@media screen and (max-width: 320px) {
  .mountains-header p {
    color: #ffe9a5;
  }
}

footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 370px;
  margin-left: 8%;
}
@media screen and (max-width: 1024px) {
  footer {
    margin: 3% 0;
    height: auto;
  }
}
footer div.wrapper {
  width: 75%;
}
@media screen and (max-width: 1024px) {
  footer div.wrapper {
    width: 100%;
  }
}
footer div.wrapper .span-wrapper {
  color: #282828;
  font-size: 22px;
  font-weight: 500;
  line-height: 49.97px;
  letter-spacing: 0.88px;
  margin-bottom: 0;
  margin-top: 0;
}
footer div.wrapper .span-wrapper .ex {
  color: white;
  position: relative;
}
footer div.wrapper .span-wrapper .ex:after {
  position: absolute;
  z-index: -2;
  top: -25%;
  left: -10%;
  content: url("images/ex.png");
}
footer div.wrapper .my2-flex-row {
  display: flex;
  flex-wrap: wrap;
}
footer div.wrapper .my2-flex-row .info-col {
  flex: 3;
  padding: 0 15px;
}
footer div.wrapper .my2-flex-row .help-col {
  flex: 2;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  footer div.wrapper .my2-flex-row {
    flex-direction: column;
  }
}
footer ul {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}
footer li {
  color: #282828;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
footer a {
  color: #282828;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
footer a:hover {
  color: #ec1b0d;
}
footer .flex-form {
  display: flex;
  max-width: 90%;
}
footer .button-send {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: #ff6d6d;
  border-radius: 0 3px 3px 3px;
  padding: 0 13px;
  margin-left: -3px;
  box-shadow: 0 1px 1px rgba(14, 15, 15, 0.25);
}
footer .button-send:hover {
  background-color: #ec1b0d;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
}
footer input {
  margin-right: 0;
  border-radius: 3px;
  border: 1px solid #8d8d8d;
  border-right: none;
  height: 3em;
  padding: 0 30px;
  max-width: 90%;
  background-color: #fdfdfd;
  font-size: 16px;
  line-height: 75px;
  letter-spacing: 0.64px;
}
footer input::placeholder {
  text-transform: uppercase;
  color: #000;
  opacity: 0.4;
}
footer .media {
  display: flex;
  justify-content: center;
}
footer .media a {
  opacity: 0.3;
  margin: 10px;
}
footer .media a img {
  height: 25px;
  width: 25px;
}
footer:before {
  content: "";
  position: absolute;
  border-top: 500px solid #ff6d6d;
  border-left: 500px solid transparent;
  opacity: 0.8;
  z-index: -2;
  top: -60px;
  right: 0;
}
@media screen and (max-width: 1024px) {
  footer:before {
    display: none;
  }
}

.sign-up-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  background-color: #323969;
  text-align: center;
}
.sign-up-section h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 768px) {
  .sign-up-section h2 {
    font-size: 26px;
    margin: 5px 12px;
  }
}
.sign-up-section .sign-up-form {
  min-width: 85%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .sign-up-section .sign-up-form {
    align-items: center;
    flex-direction: column;
  }
}
.sign-up-section input {
  flex: 1;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(246, 245, 243, 0.1);
  height: 3em;
  margin: 0 10px;
  padding: 0 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0.64px;
}
.sign-up-section input::placeholder {
  text-transform: uppercase;
  color: #f6f5f3;
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .sign-up-section input {
    flex: none;
  }
}
.sign-up-section .trial-suggestion {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sign-up-section .trial-suggestion .trial {
  padding: 0 25px;
  position: relative;
  color: white;
  margin-bottom: 60px;
}
.sign-up-section .trial-suggestion .trial:after {
  position: absolute;
  left: 0;
  top: 0;
  content: url("images/strelka.png");
}
@media screen and (max-width: 1024px) {
  .sign-up-section .trial-suggestion .trial {
    margin-bottom: 25px;
  }
}
.sign-up-section .trial-suggestion button {
  margin: 0 10px;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  border-radius: 3px;
  border: 1px solid #ff6d6d;
  background-color: #ff6d6d;
  color: white;
  padding: 0 53px;
  height: 3em;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Exo", serif;
  letter-spacing: 3.2px;
  word-break: keep-all;
}
.sign-up-section .trial-suggestion button:hover {
  background-color: #ec1b0d;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  cursor: crosshair;
}
.sign-up-section .lower-text {
  opacity: 0.6;
  color: #f6f5f3;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}
.sign-up-section .lower-text a {
  text-decoration: underline;
  color: #f6f5f3;
}
.sign-up-section .lower-text a:hover {
  color: #209cee;
}
.sign-up-section > p {
  max-width: 85%;
}

.design-section {
  display: flex;
  flex-direction: row;
}
.design-section .right-triangle {
  z-index: -2;
  width: auto;
  background-color: #f6f5f3;
  border-bottom: 600px solid #ff6d6d;
  border-left: 600px solid transparent;
  opacity: 0.8;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .design-section .right-triangle {
    display: none;
  }
}
.design-section .block-description {
  padding: 150px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60vw;
}
@media screen and (max-width: 1024px) {
  .design-section .block-description {
    padding: 30px;
  }
}

.features-section {
  background-color: #f6f5f3;
}
.features-section .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 85%;
  justify-content: center;
  margin: auto;
  padding: 120px 0;
  background: url("images/Pen.png") left top no-repeat, url("images/Ef.png") 90% 0 no-repeat, url("images/cof.png") right bottom no-repeat;
}
@media screen and (max-width: 768px) {
  .features-section .content {
    background: none;
  }
}
.features-section .content header {
  text-align: center;
}
.features-section .content .wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .features-section .content .wrapper {
    flex-wrap: wrap;
  }
}
.features-section .content .feature {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}
.features-section .content .feature p {
  opacity: 0.66;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.features-section .content .feature h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin-bottom: 0;
  line-height: 50px;
}

.responsive-feature-section {
  overflow: hidden;
  position: relative;
}
.responsive-feature-section:before {
  position: absolute;
  z-index: -2;
  border-bottom: 600px solid #ff6d6d;
  border-right: 600px solid transparent;
  opacity: 0.8;
  content: "-";
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .responsive-feature-section:before {
    display: none;
  }
}
.responsive-feature-section .resp-wrapper {
  display: flex;
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  .responsive-feature-section .resp-wrapper {
    padding: 0;
  }
}
.responsive-feature-section .resp-wrapper p {
  opacity: 0.8;
}
.responsive-feature-section .resp-wrapper .text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
}
@media screen and (max-width: 1024px) {
  .responsive-feature-section .resp-wrapper .text-wrapper {
    max-width: unset;
    padding: 22.5px;
  }
}
.responsive-feature-section .resp-wrapper .lap-top {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .responsive-feature-section .resp-wrapper .lap-top {
    display: none;
  }
}

.suggestions-section {
  background: black url("images/darkside.png") center;
  padding: 60px 0;
}
.suggestions-section .my-flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .suggestions-section .my-flex-row {
    flex-direction: column;
  }
}
.suggestions-section .my-flex-row .suggestion {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  flex: 1;
  line-height: 25px;
  letter-spacing: 0.64px;
}
@media screen and (max-width: 768px) {
  .suggestions-section .my-flex-row .suggestion {
    padding: 0;
  }
}
.suggestions-section h3.header {
  color: #ffffff;
  opacity: 1;
  margin-bottom: 0;
}
.suggestions-section p {
  opacity: 0.66;
  color: #ffffff;
}
.suggestions-section p.subtitle {
  opacity: 1;
  color: #ff6d6d;
  margin-top: 0;
}
.suggestions-section .foundation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  filter: invert(80%);
}
.suggestions-section .foundation a {
  margin: 10px 30px;
}

.web-section {
  padding-top: 60px;
  background-color: #f6f5f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web-section header {
  text-align: center;
}
.web-section img {
  max-width: 85%;
}
.web-section .body-text {
  text-align: center;
  color: #282828;
  width: 55%;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.6px;
  margin: auto auto 60px;
}
@media screen and (max-width: 768px) {
  .web-section .body-text {
    width: 90%;
  }
}

/*# sourceMappingURL=index.css.map */
